Repository manuelbieh/Geolib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix

create decimalCoordinateToSexagesimal function and tests
  src/decimalCoordinateToSexagesimal.test.js
  src/decimalCoordinateToSexagesimal.ts
  src/index.ts
Due: prettier --write, yarn lint:js --fix

add decimalCoordinateToSexagesimal function to README
  README.md
Due: prettier --write

Bugfix: isPointWithinRadius false even if true
  src/isPointWithinRadius.test.js
  src/isPointWithinRadius.ts
Due: prettier --write, yarn lint:js --fix

Added Changes in Readme
  README.md
Due: prettier --write

feat: Add types to every function
  src/getAreaOfPolygon.ts
  src/getBounds.ts
  src/getCoordinateKey.ts
  src/getLatitude.ts
  src/getLongitude.ts
  src/getPreciseDistance.ts
  src/isDecimal.ts
  src/isSexagesimal.ts
  src/isValidCoordinate.ts
  src/isValidLatitude.ts
  src/isValidLongitude.ts
  src/toDecimal.ts
Due: prettier --write, yarn lint:js --fix

Add new feature findAllWithinRadius
  README.md
  src/findAllWithinRadius.test.js
  src/findAllWithinRadius.ts
  src/types.ts
Due: prettier --write, yarn lint:js --fix

- Change type name GeolibInputTrueFalse to GeolibInputBoolean - Change test desription for function findAllWhitinRadius
  src/findAllWithinRadius.test.js
  src/findAllWithinRadius.ts
  src/types.ts
Due: prettier --write, yarn lint:js --fix

Add GeolibBounds type
  src/getBounds.ts
  src/types.ts
Due: prettier --write, yarn lint:js --fix

bugfix: ignore whitespaces in sexagesimal patterns. fixes #254
  src/sexagesimalToDecimal.test.js
  src/sexagesimalToDecimal.ts
Due: prettier --write, yarn lint:js --fix

Improved types of targetUnit in convertSpeed.ts
  src/convertSpeed.ts
Due: prettier --write, yarn lint:js --fix

feat: format number with locale
  README.md
  src/decimalToSexagesimal.ts
Due: prettier --write, yarn lint:js --fix

fix: make native ESM importing from Node.js work
  package.json
Due: none

Make sexagesimalToDecimal() trim whitespace
  src/sexagesimalToDecimal.ts
Due: prettier --write, yarn lint:js --fix

release: 3.3.2 - 2021-10-11T15:15:09.783Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d0377d25a37b06e8d318ad374eb003fde944e0b2
Due: none

fix: increase accuracy
  README.md
  src/decimalToSexagesimal.test.js
  src/decimalToSexagesimal.ts
  src/getDistanceFromLine.test.js
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

release: 3.3.3 - 2021-10-11T15:43:29.800Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  35ac29865b003ac865a805fcaa78052a946d5ca1
Due: none

feat: add isPointInBoundingBox check
  package.json
  src/isPointInBoundingBox.test.js
  src/isPointInBoundingBox.ts
  src/types.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

convert 8.999999999 to sexagesimal, but get 8° 59' 60" E
  src/decimalToSexagesimal.test.js
  src/decimalToSexagesimal.ts
Due: prettier --write, yarn lint:js --fix

Accuracy doesn't need to be an int
  README.md
Due: prettier --write

Improve orderByDistance with type generics
  src/orderByDistance.ts
Due: prettier --write, yarn lint:js --fix

deleted an extra closing paranthesis in the funtion
  README.md
Due: prettier --write

Use earth radius from constants for default value in compute destination point
  src/computeDestinationPoint.ts
Due: prettier --write, yarn lint:js --fix

Update computeDestinationPoint tests
  src/computeDestinationPoint.test.js
Due: prettier --write, yarn lint:js --fix

get Angle method to get a simplistic degree bearing for plotting motion objects on maps. It's different from getRhumbLineBearing approach, for example.
  src/getAngle.test.js
  src/getAngle.ts
Due: prettier --write, yarn lint:js --fix

Add `types` condition to the `require` condition
  package.json
Due: none

test: added test coverage to src/findNearest.ts
  src/findNearest.test.js
Due: prettier --write, yarn lint:js --fix

fix: getRoughCompassDirection regex used "contains" logic rather than exact matching resulting incorrect results
  src/getRoughCompassDirection.test.js
  src/getRoughCompassDirection.ts
Due: prettier --write, yarn lint:js --fix

test: added test coverage for src/isValidLatitude.ts
  src/isValidLatitude.test.js
  src/isValidLatitude.ts
Due: prettier --write, yarn lint:js --fix

test: added test coverage for src/isValidLongitude.ts
  src/isValidLongitude.test.js
  src/isValidLongitude.ts
Due: prettier --write, yarn lint:js --fix

test: added test coverage for src/toDeg.ts
  src/toDeg.test.js
Due: prettier --write, yarn lint:js --fix

test: added test coverage to toRad
  src/toRad.test.js
Due: prettier --write, yarn lint:js --fix

Notes added by 'git notes add'
  26ec179e861750623d496a962465e5c399664efd
Due: none

release: 3.3.4 - 2023-06-01T08:02:35.330Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Add used formula to getDistance fuction docs
  README.md
Due: prettier --write

Fix: getDistanceFormLine returning NaN when point on line or line is a point Co-authored-by: Cédric <cedric.louyot@gmail.com>
  package.json
  src/getDistanceFromLine.test.js
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

Update LICENSE, fix license year
  LICENSE
Due: none

Refactor: improve code consistency and maintainability
  src/constants.ts
  src/getCoordinateKey.ts
  src/getDistance.ts
  src/getLatitude.ts
  src/getLongitude.ts
  src/getPreciseDistance.ts
  src/isValidCoordinate.ts
  src/isValidLatitude.ts
  src/isValidLongitude.ts
  src/sexagesimalToDecimal.ts
  src/toDeg.ts
  src/toRad.ts
Due: prettier --write, yarn lint:js --fix

ci: migrate from CircleCI to GitHub Actions
  .github/workflows/ci.yml
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,md}
  yarn lint:js --fix: any of: *.{js,ts}
