Repository manuelbieh/Geolib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix

fix: throwing an error on invalid input
  src/getCoordinateKey.test.js
  src/getCoordinateKey.ts
Due: prettier --write, yarn lint:js --fix

chore: ordering of the functions
  README.md
Due: prettier --write

Release 3.0.2 - 2019-05-24T12:28:26.869Z [skip ci]
  package.json
Due: none

bugfix: export all methods
  src/index.ts
Due: prettier --write, yarn lint:js --fix

badgeeees!
  README.md
Due: prettier --write

Release 3.0.3 - 2019-05-29T08:42:18.069Z [skip ci]
  package.json
Due: none

Update getDistance.ts
  src/getDistance.ts
Due: prettier --write, yarn lint:js --fix

fix (getDistance): return NaN when should return 0
  src/getDistance.test.js
  src/getDistance.ts
Due: prettier --write, yarn lint:js --fix

fix: lint errors
  src/getDistance.ts
Due: prettier --write, yarn lint:js --fix

Release 3.0.4 - 2019-06-23T17:27:19.347Z [skip ci]
  package.json
Due: none

dev(errors): better errors WIP
  .npmrc
  src/validateCoords.test.js
  src/validateCoords.ts
Due: prettier --write, yarn lint:js --fix

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Update package.json
  package.json
Due: none

wkt to polygon
  src/wktToPolygon.test.js
  src/wktToPolygon.ts
Due: prettier --write, yarn lint:js --fix

chore: echo git author name in ci process to see if it is actually there
  .circleci/config.yml
Due: none

use better example
  .circleci/config.yml
Due: none

README for wktToPolygon and fix typo
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feature: add wktToPolygon
  README.md
Due: prettier --write

Release 3.1.0 - 2019-11-04T17:05:06.453Z [skip ci]
  package.json
Due: none

feat: remove type:module from package.json
  README.md
  package.json
  src/getCoordinateKeys.ts
Due: prettier --write, yarn lint:js --fix

Release 3.2.0 - 2019-12-11T14:07:48.829Z [skip ci]
  package.json
Due: none

chore: dependency updates and some cleanup
  .eslintignore
  .eslintrc.js
  .eslintrc.json
  .lintstagedrc
  package.json
  src/getCoordinateKey.ts
  src/index.ts
  src/orderByDistance.test.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

chore: add install-deps-postmerge to update deps automatically
  package.json
  yarn.lock
Due: none

Release 3.2.1 - 2019-12-30T19:22:25.600Z [skip ci]
  package.json
Due: none

docs: consistent use of arrow functions in README
  README.md
Due: prettier --write

getDistanceFromLine NaN fix
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

@cooperbarth fix #227
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

fix: prevent getDistanceFromLine to return NaN due to floating point arithmetic. fixes #227
  src/getDistance.ts
  src/getDistanceFromLine.test.js
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

fix: prevent getDistanceFromLine to return NaN due to floating point arithmetic. fixes #227
  src/getDistance.ts
  src/getDistanceFromLine.test.js
  src/getDistanceFromLine.ts
  src/robustAcos.test.js
  src/robustAcos.ts
Due: prettier --write, yarn lint:js --fix

Release 3.2.2 - 2020-05-24T11:28:14.675Z [skip ci]
  package.json
Due: none

chore: use external release-config to publish new releases with automated CHANGELOG.md
  .releaserc
  CHANGELOG.md
  README.md
  package.json
  release.config.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

chore: update all deps and make release workflow work with external config
  package.json
  release.config.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

feat: re-export constants so they can be used by library consumers
  src/index.ts
Due: prettier --write, yarn lint:js --fix

chore: update node image during ci
  .circleci/config.yml
Due: none

release: 3.3.0 - 2020-05-24T12:53:36.058Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f7e5cd8f5d235227ba3128343fcf981b7476ebb2
Due: none

fix: add missing wktToPolygon export to UMD build. fixes #221
  src/index.ts
Due: prettier --write, yarn lint:js --fix

release: 3.3.1 - 2020-05-24T14:13:59.011Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e88635be6c8d75928307ec6df7f6e7c755296b15
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,md}
  yarn lint:js --fix: any of: *.{js,ts}
