Repository manuelbieh/Geolib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,ts,md}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,ts}": [
      "yarn tsc"
    ],
    "*.{js,ts}": [
      "yarn lint:js --fix",
      "git add"
    ]
  }
}

chore: remove unused @semantic-release/exec dependency
  package.json
  yarn.lock
Due: none

chore: remove CircleCI config
  .circleci/config.yml
Due: none

chore: upgrade to @semantic-release/npm@13 for native OIDC support
  package.json
  yarn.lock
Due: none

chore: remove registry-url from setup-node in publish job
  .github/workflows/ci.yml
Due: none

fix: add trailing slash to publishConfig registry URL
  package.json
Due: none

release: 3.3.14 - 2026-04-03T01:52:16.406Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0f5df2014ada9ab8e8c8d9957b8bb8ae0a243994
Due: none

build: replace Jest with Vitest
  jest.config.js
  package.json
  src/getCompassDirection.test.js
  src/getSpeed.test.js
  vitest.config.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

build!: publish real ES modules alongside CommonJS
  .babelrc.js
  .gitignore
  .prettierignore
  package.json
  tsconfig.json
  tsdown.config.mts
  vitest.config.mts
  webpack.config.js/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

feat: export the TypeScript types from the package entry
  src/index.ts
Due: prettier --write, yarn lint:js --fix

ci: build and smoke test the package on every pull request
  .github/workflows/ci.yml
Due: none

fix: default convertArea to square meters
  src/convertArea.test.js
  src/convertArea.ts
Due: prettier --write, yarn lint:js --fix

perf: make the unit conversion tables tree-shakeable
  src/constants.ts
Due: prettier --write, yarn lint:js --fix

fix: return false from validators instead of throwing on null
  src/isDecimal.test.js
  src/isDecimal.ts
  src/isSexagesimal.test.js
  src/isSexagesimal.ts
  src/isValidCoordinate.test.js
  src/isValidCoordinate.ts
Due: prettier --write, yarn lint:js --fix

fix: parse WKT polygons regardless of whitespace and parentheses
  src/wktToPolygon.test.js
  src/wktToPolygon.ts
Due: prettier --write, yarn lint:js --fix

feat: return the unrounded distance for an accuracy of 0
  src/getDistance.test.js
  src/getDistance.ts
  src/getPreciseDistance.test.js
  src/getPreciseDistance.ts
  src/roundToAccuracy.test.js
  src/roundToAccuracy.ts
Due: prettier --write, yarn lint:js --fix

fix: use the haversine formula in getDistance as documented
  src/getDistance.test.js
  src/getDistance.ts
Due: prettier --write, yarn lint:js --fix

fix!: round only the result of getDistanceFromLine
  src/getDistanceFromLine.test.js
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

fix: compare the unrounded distance in isPointNearLine
  src/isPointNearLine.test.js
  src/isPointNearLine.ts
Due: prettier --write, yarn lint:js --fix

fix: compare the unrounded distance in isPointWithinRadius
  src/isPointWithinRadius.test.js
  src/isPointWithinRadius.ts
Due: prettier --write, yarn lint:js --fix

fix: make isPointInLine precise for long and short lines
  src/isPointInLine.test.js
  src/isPointInLine.ts
Due: prettier --write, yarn lint:js --fix

fix!: use the library's earth radius in computeDestinationPoint
  src/computeDestinationPoint.test.js
  src/computeDestinationPoint.ts
Due: prettier --write, yarn lint:js --fix

perf: read each polygon vertex only once in isPointInPolygon
  src/isPointInPolygon.test.js
  src/isPointInPolygon.ts
Due: prettier --write, yarn lint:js --fix

fix!: support polygons that cross the antimeridian in isPointInPolygon
  src/isPointInPolygon.test.js
  src/isPointInPolygon.ts
Due: prettier --write, yarn lint:js --fix

perf: read numeric coordinates without string conversion
  src/getCoordinateKey.ts
  src/isDecimal.test.js
  src/isDecimal.ts
Due: prettier --write, yarn lint:js --fix

perf: calculate each distance only once in orderByDistance
  src/orderByDistance.test.js
  src/orderByDistance.ts
Due: prettier --write, yarn lint:js --fix

chore: run type checks and related tests in the pre-commit hook
  .lintstagedrc
  lint-staged.config.mjs
Due: none

feat: keep the type of the points in orderByDistance and findNearest
  src/findNearest.ts
  src/orderByDistance.test-d.ts
  src/orderByDistance.ts
  vitest.config.mts
Due: prettier --write, yarn lint:js --fix

refactor: name functions after their exports
  src/decimalToSexagesimal.ts
  src/getPreciseDistance.ts
Due: prettier --write, yarn lint:js --fix

test: cover implicitly closed polygons in getAreaOfPolygon
  src/getAreaOfPolygon.test.js
Due: prettier --write, yarn lint:js --fix

feat: add isPointInBoundingBox
  src/index.ts
  src/isPointInBoundingBox.test.js
  src/isPointInBoundingBox.ts
Due: prettier --write, yarn lint:js --fix

feat: add getIntersectionOfLines
  src/getIntersectionOfLines.test.js
  src/getIntersectionOfLines.ts
  src/index.ts
Due: prettier --write, yarn lint:js --fix

docs: update the README for version 4
  README.md
Due: prettier --write

release: 4.0.0 - 2026-10-08T02:10:08.162Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  143a7495e60fc6a077491bd7936bd7cb89ce73b5
Due: none
