Repository manuelbieh/Geolib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,ts,md}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,ts}": [
      "yarn tsc"
    ],
    "*.{js,ts}": [
      "yarn lint:js --fix",
      "git add"
    ]
  }
}

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

Address PR review feedback: fix naming, remove redundant checks
  src/getCoordinateKey.ts
  src/getDistance.ts
  src/getLongitude.ts
  src/getPreciseDistance.ts
  src/sexagesimalToDecimal.ts
Due: prettier --write, yarn lint:js --fix

ci: use npm OIDC trusted publishing instead of NPM_TOKEN
  .github/workflows/ci.yml
Due: none

ci: remove .npmrc with hardcoded NPM_TOKEN reference
  .npmrc
Due: none

test: use toBeCloseTo for floating-point assertions
  src/computeDestinationPoint.test.js
  src/getAreaOfPolygon.test.js
  src/getCenter.test.js
  src/getGreatCircleBearing.test.js
  src/getRhumbLineBearing.test.js
  src/toDeg.test.js
  src/toRad.test.js
Due: prettier --write, yarn lint:js --fix

ci: set --openssl-legacy-provider for webpack 4 build
  .github/workflows/ci.yml
Due: none

ci: pass OIDC token as NPM_TOKEN for semantic-release compatibility
  .github/workflows/ci.yml
Due: none

chore: upgrade all devDependencies to latest versions
  .eslintrc.js
  .github/workflows/ci.yml
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  package.json
  release.config.js
  src/constants.ts
  src/getCoordinateKey.ts
  src/robustAcos.test.js
  src/types.ts
  webpack.config.js/index.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

ci: skip npm verifyConditions for OIDC compatibility
  release.config.js
Due: prettier --write, yarn lint:js --fix

ci: use NPM_TOKEN for npm auth, keep OIDC for provenance
  .github/workflows/ci.yml
  release.config.js
Due: prettier --write, yarn lint:js --fix

ci: use @semantic-release/exec for OIDC npm publishing
  .github/workflows/ci.yml
  package.json
  release.config.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

ci: replace @semantic-release/npm with exec for OIDC publishing
  release.config.js
Due: prettier --write, yarn lint:js --fix

release: 3.3.5 - 2026-04-02T20:12:02.260Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  45a7efd9f342e2fed4dfc7c158ff2841fec252b6
Due: none

ci: specify npm registry explicitly in publish command
  release.config.js
Due: prettier --write, yarn lint:js --fix

release: 3.3.6 - 2026-04-02T21:49:32.676Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  39a7467bc6cb8dce9fc58a8735cc7d78b55cbf94
Due: none

ci: add setup-node registry-url for OIDC npm auth
  .github/workflows/ci.yml
Due: none

chore: add package description
  package.json
Due: none

release: 3.3.7 - 2026-04-02T21:59:50.023Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9330546e49f0b7fac04b6be1e8f26bcc676db13b
Due: none

release: 3.3.8 - 2026-04-02T22:05:01.612Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  77c2d45b307d9bd5e9a12d43538be3179fdca88f
Due: none

chore: add packages:write permission for npm OIDC publish
  .github/workflows/ci.yml
Due: none

release: 3.3.9 - 2026-04-03T00:40:38.566Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  78cc60c9af229dfdf674d35e8d5a831a16a6fb23
Due: none

release: 3.3.10 - 2026-04-03T00:47:42.830Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bef249b00bad432a460da7232ec6adcb13b8aa17
Due: none

release: 3.3.11 - 2026-04-03T00:51:02.452Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  53e0579d451274ed1e9cce0eecb36fde11106f37
Due: none

chore: remove --registry flag from npm publish
  release.config.js
Due: prettier --write, yarn lint:js --fix

release: 3.3.12 - 2026-04-03T00:53:25.545Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f9038596982303bb6723859e37e4f52236d68841
Due: none

chore: add publishConfig for npm OIDC registry matching
  package.json
  release.config.js
Due: prettier --write, yarn lint:js --fix

release: 3.3.13 - 2026-04-03T00:55:28.258Z [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7775e31978accc3b2d844d90b2332d13d0e64caa
Due: none

chore: update all dependencies to latest versions
  .github/workflows/ci.yml
  package.json
  release.config.js
  src/wktToPolygon.test.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix
