Repository manuelbieh/Geolib: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix

preparation chores for publishing
  .gitignore
  lib/index.js
  package.json
  src/isPointInPolygon.ts
  tsconfig.json
  yarn-error.log
Due: prettier --write, yarn lint:js --fix

Ci is failing and I have no clue why
  package.json
  src/index.ts
Due: prettier --write, yarn lint:js --fix

release preparation
  .editorconfig
  .lintstagedrc
  .releaserc
  LICENSE
  lib/index.js
  package.json
  src/index.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

added build folders to gitignore
  .gitignore
  .prettierignore
  lib/index.js
  package.json
Due: prettier --write, yarn lint:js --fix

fixed typo
  package.json
  src/getSpeed.ts
Due: prettier --write, yarn lint:js --fix

updated readme and added some tiny improvements
  README.md
  package.json
  src/computeDestinationPoint.ts
  src/getBounds.ts
  src/getPreciseDistance.ts
Due: prettier --write, yarn lint:js --fix

fixes #102 (kind of)
  src/computeDestinationPoint.test.js
  src/computeDestinationPoint.ts
Due: prettier --write, yarn lint:js --fix

added convertDistance, updated docs
  README.md
  src/constants.ts
  src/convertDistance.test.js
  src/convertDistance.ts
Due: prettier --write, yarn lint:js --fix

more docs
  CHANGELOG.md
  README.md
  package.json
  src/computeDestinationPoint.test.js
  src/computeDestinationPoint.ts
Due: prettier --write, yarn lint:js --fix

improved docs
  CHANGELOG.md
  README.md
  src/getDistanceFromLine.ts
Due: prettier --write, yarn lint:js --fix

added more documentation, fixed some style inconsistencies, added publish job to ci
  .circleci/config.yml
  CHANGELOG.md
  README.md
  src/getBoundsOfDistance.test.js
  src/getBoundsOfDistance.ts
Due: prettier --write, yarn lint:js --fix

added new method getAreaOfPolygon, updated Readme and Changelog.
  CHANGELOG.md
  README.md
  src/computeDestinationPoint.ts
  src/getAreaOfPolygon.test.js
  src/getAreaOfPolygon.ts
Due: prettier --write, yarn lint:js --fix

added convertArea function, fixed a few minor things in the docs
  CHANGELOG.md
  README.md
  src/constants.ts
  src/convertArea.test.js
  src/convertArea.ts
Due: prettier --write, yarn lint:js --fix

add ssh key for deploys
  .circleci/config.yml
Due: none

using correct ssh key
  .circleci/config.yml
Due: none

key fuckups
  .circleci/config.yml
Due: none

fetch first
  package.json
Due: none

pull, maybe?
  package.json
Due: none

only publish master
  .circleci/config.yml
Due: none

added docker config back
  .circleci/config.yml
Due: none

configuring circle-ci is hard ...
  .circleci/config.yml
Due: none

another attempt
  .circleci/config.yml
Due: none

maybe this time
  .circleci/config.yml
Due: none

trying persist_to_workspace
  .circleci/config.yml
Due: none

adding checkout to job
  .circleci/config.yml
Due: none

renamed workflow
  .circleci/config.yml
Due: none

making everything even more complicated
  .circleci/config.yml
Due: none

renamed job
  .circleci/config.yml
Due: none

fixed broken yml indentation
  .circleci/config.yml
Due: none

fix: added files prop to package.json
  dist/geolib.d.ts
  package.json
Due: prettier --write, yarn lint:js --fix

fix: removed beta flag from version
  package.json
Due: none

Release 2.0.25 - 2019-05-24T00:54:24.921Z [skip ci]
  package.json
Due: none

patch: added two more patch types
  .releaserc
Due: none

Release 2.0.26 - 2019-05-24T01:01:52.078Z [skip ci]
  package.json
Due: none

breaking: showtime! big 3.0.0 release is here!
  package.json
Due: none

Release 3.0.0 - 2019-05-24T01:06:24.157Z [skip ci]
  package.json
Due: none

fix: added missing exports
  README.md
  src/index.ts
  src/isValidLatitude.ts
  src/isValidLongitude.ts
Due: prettier --write, yarn lint:js --fix

Release 3.0.1 - 2019-05-24T01:16:52.576Z [skip ci]
  package.json
Due: none

added badges!
  README.md
Due: prettier --write

Point typescript to the correct file
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,md}
  yarn lint:js --fix: any of: *.{js,ts}
